@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&display=swap');
 
*{
    margin: 0;
    padding: 0;
    font-family: 'Bai Jamjuree', sans-serif;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: rgb(41, 24, 24);
    color: rgb(255, 255, 245);
}

header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    padding: 50px 10%;
    width: 100%;
    font-size: 1.234rem;
    font-weight: bold; 
    cursor: pointer; 
    z-index: 100; 
}

.logo-name a{
    text-decoration: none;
    color: rgb(255, 255, 245);
}

.logo-name a:hover{
    color: greenyellow;
}

.nav-links ul{
    display: flex;
    align-items: center;
    gap: 1rem;  
}

.nav-links li a{
    color: rgb(255, 255, 245);
    text-decoration: none;
    padding: 5px 13px;
    border: 2px solid rgb(255, 255, 245);
    border-radius: 10px;
    transition: all .2s ease;
}

.nav-links li a:hover,
.nav-links li a.active{
    color:rgb(255, 255, 245);
    background: greenyellow;
}

.icon-moon{
    position: absolute;
    right: 7%;
    top: 35%;
    font-size: 2rem;
}

.btn-resume{
    width: 350px;
    height: 50px;
}

.btn-resume a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100px;
    height: 70%;
    margin-top: 100%;
    margin-left: 86%;
    text-decoration: none;
    font-weight: 500;
    border: 2px solid white;
    border-radius: 8px; 
    letter-spacing: 1px;
    border-radius: 0 0 7px 0;
}

.btn-resume a:hover{
    background-color: greenyellow;
}

.about-highlight{
    background-color: rgba(41, 233, 7, 0.975);
}

h1{
    display: inline-block;
    position: absolute;
    color: #fff;
    bottom: 72% ;
    margin-left: 20%;
    
}

.parag-about{
    color: #fff;
    font-size: 1.124rem;
    justify-content: center;
    position: absolute;
    display: inline-block;
    letter-spacing: 2px;
    bottom: 60%;
    margin-left: 12%;
}

.parag-about1{
    color: #fff;
    font-size: 1.124rem;
    justify-content: center;
    position: absolute;
    display: inline-block;
    letter-spacing: 2px;
    bottom: 50%;
    margin-left: 12%;
}

.dash-line{
    font-size: 50px;    
    font-weight: bolder;
}

.parag-about2{
    color: #fff;
    font-size: 1.124rem;
    justify-content: center;
    position: absolute;
    display: inline-block;
    letter-spacing: 2px;
    bottom: 60%;
    margin-left: 12%;
}

.parag-about2{
    color: #fff;
    font-size: 1.124rem;
    justify-content: center;
    position: absolute;
    display: inline-block;
    letter-spacing: 2px;
    bottom: 41.12%;
    margin-left: 12%;
}

.icon-html{
    margin-left: 300px;
    margin-top: 230px;
    font-size: 2rem;
    cursor: pointer;
}

.icon-html:hover{
    color: orange;
}

.icon-css{
    margin-left: 10px;
    margin-top: -2%;
    font-size: 2rem;
    cursor: pointer;
}

.icon-css:hover{
    color: rgb(21, 154, 210);
    border-radius: 4px;
}

.icon-jscript{
    margin-left: 10px;
    margin-top: -2%;
    font-size: 2rem;
    cursor: pointer;
}

.icon-jscript:hover{
    color: yellow;
}

.standing-me img{
    position: fixed;
    margin-top: 3%;
    margin-left: 70%;
    height: 43vh;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 40px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1.4px);
    -webkit-backdrop-filter: blur(1.4px);
    border: 1px solid rgba(255, 255, 255, 1);   
    image-rendering: auto;
}